<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="pitch" value="50" />
    <add key="roll" value="50" />
    <add key="thrust" value="50" />
    <add key="pitchNeu" value="0" />
    <add key="rollNeu" value="0" />
    <add key="thrustNeu" value="0" />
    <add key="maxTime1" value="50" />
    <add key="maxCtrl1" value="100" />
    <add key="pitchPKey" value="50" />
    <add key="pitchNKey" value="50" />
    <add key="rollPKey" value="50" />
    <add key="rollNKey" value="50" />
    <add key="thrustPKey" value="50" />
    <add key="thrustNKey" value="50" />
    <add key="maxTime2" value="50" />
    <add key="maxCtrl2" value="100" />
    <add key="maxTime3" value="50" />
    <add key="maxCtrl3" value="100" />
    <add key="SelectVPKey" value="0" />
    <add key="SelectVNKey" value="0" />
    <add key="SelectHPKey" value="0" />
    <add key="SelectHNKey" value="0" />
    <add key="maxTimeSelector" value="50" />
    <add key="selectorNeu" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>